EMAIL_USR=contact@hades.ovh
EMAIL_PWD=mystrongpassword
SMTP_HOST=smtp.hades.ovh
NEXTAUTH_SECRET=SDMOFJMSODIJFNCZEMOINMOGUH
NEXTAUTH_URL=https://perfectcenter.fr
NODE_ENV=production
DATABASE_URL=file:./prod.db